/* shared styles */
*{
    font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
}
.banner{
    margin: 146px 160px 0px 160px;
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px; 
    background: url(../Images/Group\ 13\ \(1\)\ \(1\).png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
}
.banner-image{
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}
.popular-tour-container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-left: 160px;
    padding-right: 160px;
    /* border: 2px solid black; */
}
.left-column{
    /* border: 2px solid red; */
    padding-right: 50px;
}
.left-title{
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.left-text{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-bottom: 20px;
}
.img-container{
    width: 540px;
    height: 550px;
    flex-shrink: 0;
}

#popular-tour-img{
    width: 100%;
    height: 100%;
}

button{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
/* Choose your destination */
.choose-your-destination-container{
    margin: 5rem 8rem 5rem;
}
.choose-destination-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.choose-destination-text>h1{
    color: #131318;
    font-family: Mulish;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.choose-destination-text>p{
    width: 40rem;
    height: 3.5rem;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 162.5% */
    padding-left: 18rem;
    /* padding-right: 25rem; */
}
.album-first-row{
    display: flex;
    justify-content: space-between;
}
.album-second-row{
    display: flex;
    justify-content: space-between; 
}
.album-third-row{
    display: flex;
    justify-content: space-between;
}
/* why choose us section */
.why-choose-us-section{
    margin: 5rem 8rem 5rem;
}
.choose-us-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.choose-us-text>h1{
    color: #131318;
    font-family: Mulish;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.choose-us-text > p{
    padding: 1.5rem 16rem 3rem 16rem;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 162.5% */
}
.first-row > ul{
    display: flex;
    justify-content: space-between;
    /* gap: 1rem; */
}
.second-row{
    display: flex;
    justify-content: center;
}
.box-one{
    width: 36rem;
    height: 20rem;
    flex-shrink: 0;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    /* padding: 2rem; */
}

.box-two{
    width: 36rem;
    height: 20rem;
    flex-shrink: 0;
    border-radius: 1rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    /* padding: 2rem; */
}

.box-three{
    width: 36rem;
    height: 20rem;
    flex-shrink: 0;
    border-radius: 1rem;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    /* padding: 2rem; */
}
.box-text-section{
    padding: 2rem;
}
.box-text-section>h4{
    color: #131318;
    font-family: Mulish;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.box-text-section>img{
    width: 4rem;
    height: 4rem;
}
.box-text-section>p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 162.5% */
}



/* newsletter section */
.newsletter-section{
    display: flex;
    justify-content: space-between;
    padding: 6.25rem 8.5rem 6.25rem 8.5rem;
}

.newsletter-form-section{
    width: 25rem;
    height: 23rem;
    flex-shrink: 0;
    border: 1px solid #FF5400;
    border-radius: 1rem;
    padding: 2rem;
}
.newsletter-box>form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.newsletter-box>h4{
    color: #131318;
    font-family: Mulish;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.newsletter-box>form>label{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 162.5% */
}
.newsletter-box>form>hr{
    background: rgba(19, 19, 24, 0.10);
    width: 24rem;
    margin-left: 0.25rem;
}
.newsletter-box>form>input{
    border: 0;
    width: 24rem;
    height: 3.25rem;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin: 0.5rem;
}
.newsletter-box>form>input::placeholder{
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1rem;
}
.newsletter-box>form>button{
    width: 24rem;
    height: 3.25rem;
    flex-shrink: 0;
    margin-left: 0.5rem;
}

.newsletter-photo-section{
    width: 42rem;
    height: 28rem;
    flex-shrink: 0;
    border-radius: 1rem;
    background-image: url(../Images/Rectangle\ 8\ \(1\).png);
    background-repeat: no-repeat;
}
/* .newsletter-sticker>.sticker-container{
    width: 21rem;
    height: 7rem;
    flex-shrink: 0;
} */

.newsletter-sticker{
    position: relative;
    top: 45%;
    left: 48%;
}

/* footer */
footer{
    width: 100%;
    height: 35rem;
    flex-shrink: 0;
    border: 0;
    background: rgba(19, 19, 24, 0.05);
}

#footer-company-logo{
    padding: 15px;
}

.footer-company-name{
    display: flex;
    padding: 6rem 38rem 0rem;
}
.footer-text{
    color: #5A5A5D;
    padding: 0px 335px 32px 335px;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.footer-icons{
    padding: 0px 633px 50px 633px;
}

hr{
    background: rgba(255, 255, 255, 0.15);
    margin: 1rem 25rem 1rem 20rem;
    width: 872px;
    height: 1px;
}


.footer-copyright{
    color: #131318;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    justify-content: center;
    /* padding: 2rem 40rem 5rem 40rem; */
}


/* for small screen 600px and down */

@media screen and (max-width:600px){
    .popular-tour-container{
        flex-direction: column;
        padding: 24px 20px 24px 20px;
    }
    .left-column{
        padding-bottom: 24px;
    }
    .img-container{
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        padding-right: 20px;
    }
    #popular-tour-img{
        width: 100%;
        height: 100%;
    }
    .newsletter-section{
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 1.5rem;
    }
    .newsletter-form-section{
        width: 80%;
        height: 100%;
        /* width: 21rem;
        height: 22rem; */
        flex-shrink: 0;
        border: 1px solid #FF5400;
        border-radius: 1rem;
        padding: 1.5rem;
    }
    .newsletter-box>form>hr{
        background: rgba(19, 19, 24, 0.10);
        width: 18rem;
        margin-top: 1rem;
        margin-left: 0.25rem;
    }
    .newsletter-box>form>input{
        border: 0;
        width: 18rem;
        height: 3.25rem;
        flex-shrink: 0;
        border-radius: 8px;
        background: rgba(19, 19, 24, 0.05);
        margin: 0.5rem;
    }
    .newsletter-box>form>button{
        width: 18rem;
        height: 3.25rem;
        flex-shrink: 0;
        margin-left: 0.5rem;
    }
    .newsletter-photo-section{
        margin-top: 1rem;
        background-image: url(../Images/Rectangle\ 8\ short.png);
        background-repeat: no-repeat;
    }
    .newsletter-sticker{
        position: relative;
        top: 30%;
        left: 10%;
    }
    
    .footer{
        width: 100%;
        flex-shrink: 0;
    }
    .footer-company-name{
        display: flex;
        /* padding: 2rem 3rem 0rem 3rem; */
        padding-top: 0.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 1rem;
    }
    .footer-text{
        color: #5A5A5D;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
    }
    .footer-icons{
        flex-shrink: 0;
        margin: 0rem 5rem 0rem 5rem;
        padding-left: 3rem;
        /* padding-right: 1rem; */
    }
    hr{
        background: rgba(255, 255, 255, 0.15);
        margin: 0.25rem 4rem 0.25rem 4rem;
        width: 20rem;
        height: 1px;
    }
    .footer-copyright{
        color: #131318;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        display: flex;
        justify-content: center;
        /* padding: 2rem 40rem 5rem 40rem; */
    }
    
}